<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>重云-体重分享平台</title>
<style type="text/css">
.float-left {
	float:left;
	height:600px;
	width: 800px;
}
</style>
</head>

<body>
	<div id="echarts-line" class="float-left"></div>
<!--  引入 js文件 -->
<script src="../resource/jquery.min.js"></script>
<script src="../resource/echarts/echarts.js"></script>

<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: '../resource/echarts'
            }
        });
</script>
<script src="../resource/myjs/line.js"></script>
</body>
</html>